{% extends 'user/user_home.html' %}
{% block body %}

    <style>
{#        body {#}
{#            background-color: #f7f9fc;#}
{#            display: flex;#}
{#            justify-content: center;#}
{#            align-items: center;#}
{#            height: 100vh;#}
{#            margin: 0;#}
{#        }#}
        .card {
            width: 400px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        }
{#        h2 {#}
{#            font-weight: 600;#}
{#            color: #343a40;#}
{#            text-align: center;#}
{#            margin-bottom: 20px;#}
{#        }#}
{#        .btn-primary {#}
{#            width: 100%;#}
{#        }#}
    </style>
<body>

    <div class="card">
        <h2>Create Group</h2>
        <form method="post" action="/groupcreate" enctype="multipart/form-data">
            {% csrf_token %} 
            <div class="form-group">
                <label for="groupname">Group Name:</label>
                <input type="text" class="form-control" name="groupname" required>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" class="form-control" name="description" required>
            </div>
            <div class="form-group">
                <label for="image">Image:</label>
                <input type="file" class="form-control-file" name="file" accept="image/*" required>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock %}
